* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    flex-direction: column; 
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center; 
}
#mainLogo {
    width: 80px; 
    height: auto;
}

.nav-bar {
    display: flex;
    align-items: center; 
    gap: 20px; 
    list-style: none; 
    margin: 0;
    padding: 0;
    width: 100%; 
}

/* Liens */
.nav-bar li {
    display: flex;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.nav-bar a:hover {
    color: blue;
}
.btn-commande {
    background-color: #ff6584;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.btn-container {
    margin-left: auto;
    margin-right: 10px;
}

#mainLogo {
    width: 80px; 
    height: auto;
}

#affiche{
    display: flex;
    margin: 30px;
    background-color: #259C79;
    border-radius: 14px;
    width: 60%; 
    height: 650px;
    text-align: left;
    align-items: center;
}

#titleAffiche{
    font-size: 80px;
}

.form-wrapper {
    position: relative;   
    top: 30px;
    width: 40%;
    height: auto;
}

.form-container {
    background-color: #259C79;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    text-align: center;
    max-height: 90%;
    overflow-y: auto;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.full-width {
    grid-column: span 2; 
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

.checkbox-container {
    display: flex;
    align-items: center;  
    gap: 8px;  
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #259C79; 
}

h1{
    margin-bottom: 20px;
    font-size: 24px;
}

.form-field {
    margin-bottom: 20px;
    text-align: left;
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.form-checkbox {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.submit-btn {
    background-color: #E8FFEE;
    color: black    ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: #e6b800;
}
.form-row{
    display: flex;
    gap: 30px; 
    align-items: center; 
    margin-top: 0;
}

.form-row .form-field:first-child {
    margin-left: -15px; 
}

.form-row .form-field:last-child {
    margin-right: 10px; 
}

.form-field:nth-child(3) {
    margin-top: 0px; 
}

.commande {
    margin-top: 50px; 
    background-color: white; 
    padding: 20px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px; 
}
.header-container h1 {
    margin: 0; 
}

.header-image {
    width: 25px;   
    height: auto; 
    margin-top: -3px;    
}
input#adresse, input#numCarte {
    width: 90%; 
    margin: 0 auto;
    padding: 8px; 
    border-radius: 5px;
    font-size: 14px;
}
